@media screen and (min-width: 732px) {

  a {
      color : black;
      text-decoration: none;
  }

  a:hover {
     text-decoration: underline;
  }

  #header {
    text-align: center;
    width: 100%;
  }

  .menu>ul>li {
     border: solid 1px green;
     border-radius: 12px;
     width: 200px;
     font-size: 20px;
     padding: 10px;
     margin: 10px;
     list-style-type: none;
  }

  .menu #example {
    cursor:pointer;
  }

  .menu .hide{
    display:none;
  }

  .mooc, .quiz, .game {
    float:left;
    width: 33%;
  }

  #article .mento ul {
        padding: 0px;
  }
  .mento {
    border: 3px solid #274c5e;
    border-radius: 15px;
    margin-top: 15px;
    float: left;
    height: 230px;
    width: 18%;
    margin-left: 1%;
    text-align: center;
    background-color: #dae9f4;
  }

  li{
    margin-top: 10px;
    list-style-type: none;
  }

  .after-box {
    clear: left;
  }
}

@media screen and (max-width: 732px) {

  a {
      color : black;
      text-decoration: none;
  }

  a:hover {
     text-decoration: underline;
  }

  #header {
    text-align: center;
    width: 100%;
  }

  .menu>ul>li {
     border: solid 1px green;
     border-radius: 12px;
     width: 80%;
     font-size: 20px;
     padding: 10px;
     margin: 10px;
  }

  .menu #example {
    cursor:pointer;
  }

  .menu .hide{
    display:none;
  }

  .mooc, .quiz, .game {
    width: 100%;
  }

  h2 {
    border: 3px solid #274c5e;
    border-radius: 15px;
    margin-top: 15px;
    margin-left: 1%;
    text-align: center;
    background-color: #dae9f4;
  }

  li{
    margin-top: 10px;
    font-size: 20px;
    text-align: center;
  }
}
