header {
  text-align: center;
  height: 500px;
}

.navbar-brand {
  font-family: 'Raleway', Sunflower;
}

.nav-item .nav-link {
  font-family: 'Raleway', Sunflower;
}

#titlename {
  font-size: 5rem;
  font-family: 'Raleway', Sunflower;
}


#subtitle {
  font-size: 2rem;
}

#subtitle, #sub2{
  font-family: 'Raleway', Sunflower;
}

#content {
  background: url(https://images.unsplash.com/photo-1522205419828-f5b336fc3931?ixlib=rb-0.3.5…EyMDd9&s=7b10bf5…&auto=format&fit=crop&w=1050&q=80);
  background-size: cover;
  background-position: top;
  height: 100%;
  padding-top:10%;
  color: #343a40;

}


#line1 {
  border-top: 2px solid #343a40;
  width: 75%;
}

.about-heading-content {
  padding-top: 3%;
}

#backgroudimg {
  background: url(https://images.unsplash.com/photo-1505779507181-e8cfc6d1f16f?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=9c55655e9d53dc55634ff0247697aed6&auto=format&fit=crop&w=664&q=80);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  height: 100%;
}

#img1 {
  width: 70%;
}

#webimg {
  width: 70%;
}

#btnGroupDrop1, #btnGroupDrop2, #btnGroupDrop3, #btnGroupDrop4, #btnGroupDrop5 {
  margin: 3px;
  overflow: hidden;
}
